Repository Blatoy/to-dont, pull requests merged in 2020-04, with the labels that each got.

#32 Setup jenkins and SonarCloud
  Jenkinsfile
  pom.xml
Labels: category: software quality

#34 Models
  src/main/java/ch/hearc/todont/models/Comment.java
  src/main/java/ch/hearc/todont/models/Pledge.java
  src/main/java/ch/hearc/todont/models/PledgeKey.java
  src/main/java/ch/hearc/todont/models/ToDont.java
  src/main/java/ch/hearc/todont/models/User.java
Labels: category: model

#73 More unit tests
  src/test/java/ch/hearc/todont/models/CommentTest.java
  src/test/java/ch/hearc/todont/models/PledgeTest.java
  src/test/java/ch/hearc/todont/models/ToDontTest.java
Labels: category: model, category: software quality
